<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="true" />
	</packageRestore>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!-- Enlist in https://github.com/0xd4d/dnlib and build it locally like this: -->
		<!-- msbuild /p:Configuration=Debug /t:restore;rebuild;pack                   -->
		<add key="dnlib-dbg-local" value="..\..\dnlib\src\bin\Debug\" />
	</packageSources>
</configuration>